
// FONT----------------------------------------------
$mainFontColor: #202446;
$hoverColor: #fab200;
$sectionTitleSize: 22;
$fontLight: GillSansStd-Light, Helvetica, Arial, sans-serif;
$fontStd: GillSansStd, Helvetica, Arial, sans-serif;

//navbar
$titleFontColor: #202447;
$navItemSize: 16;

//logos
$logosColor: #1F2548;